@import "variables";

@font-face {
    font-family: "Poppins";
    src: url("../../fonts/Poppins-Regular.ttf") format("truetype");
}

$font-family-sans-serif:   "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" ;

$btn-primary: #3A3A3A;

.front {
    img {
      max-width: 110px;
    }
}

form {
    max-width: 300px; 
    width: 100%;
    margin: auto;
}

.container {
    border-radius: 30px;
    padding: 20px;
    width: 350px;
}

.smaller {
    img {
        max-width: 70px;
    }
}

.profile {
    img {
        max-width: 230px;
        border-radius: 50%;
    }
}

.col-lg-11 {
    border-radius: 30px;
}

.user {
    img {
        max-width: 100px;
        border-radius: 50%;
    }
}

.help {
    display: none;
}

input:invalid + .help {
    display: block;
    color: #3A3A3A;
}

.p-2 {
    img {
        @extend .img-fluid;
        max-width: 600px;
        padding: 10px;
    }
}

.form-control:disabled {
    cursor: not-allowed;
}